In [156]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML

In [157]:
files = ["EDUCATIONSPEND",
"POPGROWTH",
"LIFEXP",
"MIGRATION",
"GDP",
"GDPGROWTH",
"GDPPERCAP",
"INDUSTPRODGR",
"WORKFORCE",
"UNEMPLOYMENT",
"BUDGET",
"PUBLICDEBT",
"CURACCT",
"EXPORTS",
"IMPORTS",
"DEBTFOREIGNERS",
"AIRPORTS",
"MILIEXPENDITURE",
"RAILWAYS",
"ROADWAYS",
"WATERWAYS",
"MARMERCHANT",
"continent",
"electricconsupmtion",
"emissions",
"fossilelectricity",
"hydroelectricity",
"internetusers",
"naturalgasconsumption",
"nuclearelectricity",
"otherrenewableelectricity",
"petroleumconsumption",
"AREA",
"POPULATION"]

In [158]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [159]:
pd_dict['AIRPORTS'].head()

   Unnamed: 0        COUNTRY AIRPORTS  YEAR
0           1  United States   13,513  2013
1           2         Brazil    4,093  2013
2           3         Mexico    1,714  2013
3           4         Canada    1,467  2013
4           5         Russia    1,218  2013

In [160]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']
petrol_df = pd_dict['petroleumconsumption']
users_df = pd_dict['internetusers']
hydro_df = pd_dict['hydroelectricity']
nuclear_df = pd_dict['nuclearelectricity']
otherrenew_df = pd_dict['otherrenewableelectricity']
mili_df = pd_dict['MILIEXPENDITURE']
co2_df = pd_dict['emissions']
mili_df.rename(columns = {'% OF GDP':'mili_exp_%_gdp'}, inplace = True)

In [161]:
for i, row in base_df.iterrows(): 
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]

In [162]:
base_df.head()

  continent_name                                  country_name
0           Asia                                   Afghanistan
1         Europe                                       Albania
2     Antarctica  Antarctica (the territory South of 60 deg S)
3         Africa                                       Algeria
4        Oceania                                American Samoa

In [163]:
mili_df.head()

   Unnamed: 0               COUNTRY  mili_exp_%_gdp  YEAR Unnamed: 4
0           1          Saudi Arabia            8.78  2018        NaN
1           2                  Oman            8.17  2018        NaN
2           3  United Arab Emirates            5.70  2016        NaN
3           4               Algeria            5.27  2018        NaN
4           5                Kuwait            5.06  2018        NaN

In [164]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
df1 = base_df.merge(area_df, on = 'Country', how = 'outer')

df1.rename(columns = {'Country':'country'}, inplace = True)
df2 = df1.merge(petrol_df, on = 'country', how = 'outer')
df3 = df2.merge(users_df, on = 'country', how = 'outer')
df4 = df3.merge(hydro_df, on = 'country', how = 'outer')
df5 = df4.merge(nuclear_df, on = 'country', how = 'outer')
df6 = df5.merge(otherrenew_df, on = 'country', how = 'outer')
mili_df.rename(columns = {'COUNTRY':'country'}, inplace = True)
df7 = df6.merge(mili_df, on = 'country', how = 'outer')
df8 = df7.merge(co2_df, on = 'country', how = 'outer')


df8.head()

,continent_name,country,Index,Area_sqKm,Unnamed: 0_x,refined_petroleum_consumption_barrels_per_day,year_x,Unnamed: 4_x,Unnamed: 0_y,number_of_internet_users,...,year_y,Unnamed: 4_y,Unnamed: 0_y,mili_exp_%_gdp,YEAR,Unnamed: 4_x,Unnamed: 0,year,carbon_emissions_from_energy_consumption_MT,Unnamed: 4_y
0,Asia,Afghanistan,42.00,"652,230.00",117.00,"35,000","2,016.00",est.,nan,NaN,...,"2,017.00",est.,116.00,0.99,"2,018.00",NaN,111.00,"2,017.00","9,067,000.00",est.
1,Europe,Albania,145.00,"28,748.00",120.00,"29,000","2,016.00",est.,111.00,"2,016,516",...,"2,017.00",est.,97.00,1.26,"2,019.00",est.,136.00,"2,017.00","4,500,000.00",est.
2,Antarctica,Antarctica (the territory South of 60 deg S),nan,NaN,nan,NaN,nan,NaN,nan,NaN,...,nan,NaN,nan,nan,nan,NaN,nan,nan,NaN,NaN
3,Africa,Algeria,11.00,"2,381,740.00",37.00,"405,000","2,016.00",est.,37.00,"17,291,463",...,"2,017.00",est.,4.00,5.27,"2,018.00",NaN,34.00,"2,017.00","135,900,000.00",est.
4,Oceania,American Samoa,216.00,224,192.00,"2,375","2,016.00",est.,206.00,"17,000",...,"2,017.00",est.,nan,nan,nan,NaN,189.00,"2,017.00","361,100.00",est.

In [165]:
final_df = df8[['continent_name','country','Area_sqKm','refined_petroleum_consumption_barrels_per_day','number_of_internet_users', 'hydro_percentage_of_electricity_production','nuclear_percentage_of_electricity_production', 'other_renewable_percentage_of_electricity_production','mili_exp_%_gdp',"carbon_emissions_from_energy_consumption_MT"]].copy()
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,"652,230.00","35,000",NaN,52.00,0.00,4.00,0.99,"9,067,000.00"
1,Europe,Albania,"28,748.00","29,000","2,016,516",95.00,0.00,0.00,1.26,"4,500,000.00"
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,nan,nan,nan,nan,NaN
3,Africa,Algeria,"2,381,740.00","405,000","17,291,463",1.00,0.00,2.00,5.27,"135,900,000.00"
4,Oceania,American Samoa,224,"2,375","17,000",0.00,0.00,2.00,nan,"361,100.00"
...,...,...,...,...,...,...,...,...,...,...
295,NaN,Johnston Atoll,2.63,NaN,NaN,nan,nan,nan,nan,NaN
296,NaN,Howland Island,1.6,NaN,NaN,nan,nan,nan,nan,NaN
297,NaN,Kingman Reef,1,NaN,NaN,nan,nan,nan,nan,NaN
298,NaN,Holy See (Vatican City),0.44,NaN,NaN,nan,nan,nan,nan,NaN
299,NaN,North Macedonia,NaN,NaN,NaN,nan,nan,nan,1.19,NaN

In [166]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].str.replace(',','')
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].str.replace(',', '')
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].str.replace(',', '')
final_df['carbon_emissions_from_energy_consumption_MT'] = final_df['carbon_emissions_from_energy_consumption_MT'].str.replace(',', '')

In [167]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].astype(float)
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].astype(float)
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].astype(float)
final_df['carbon_emissions_from_energy_consumption_MT'] = final_df['carbon_emissions_from_energy_consumption_MT'].astype(float)

In [168]:
#Do countries with high carbon emissions burn petrol? 
final_df = final_df.sort_values(by = ['Area_sqKm'], ascending = False)
final_df.dropna(subset=['continent_name', "Area_sqKm"], inplace = True)
final_df.head(n=50)

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
187,Europe,Russia,"17,098,242.00","3,650,000.00","108,772,470.00",21.00,11.00,1.00,3.93,"1,847,000,000.00"
37,North America,Canada,"9,984,670.00","2,445,000.00","31,770,034.00",56.00,9.00,12.00,1.31,"640,600,000.00"
243,North America,United States,"9,833,517.00","19,960,000.00","246,809,221.00",7.00,9.00,14.00,3.42,"5,242,000,000.00"
44,Asia,China,"9,596,960.00","12,470,000.00","730,723,960.00",18.00,2.00,18.00,1.87,"11,670,000,000.00"
26,South America,Brazil,"8,515,770.00","2,956,000.00","122,841,218.00",64.00,1.00,18.00,1.48,"513,800,000.00"
11,Oceania,Australia,"7,741,220.00","1,175,000.00","20,288,409.00",11.00,0.00,17.00,1.89,"439,100,000.00"
103,Asia,India,"3,287,263.00","4,521,000.00","374,328,160.00",12.00,2.00,16.00,2.04,"2,383,000,000.00"
10,South America,Argentina,"2,780,400.00","806,000.00","30,786,889.00",24.00,4.00,3.00,0.86,"203,700,000.00"
114,Asia,Kazakhstan,"2,724,900.00","274,000.00","14,100,751.00",14.00,0.00,1.00,0.95,"304,600,000.00"
113,Europe,Kazakhstan,"2,724,900.00","274,000.00","14,100,751.00",14.00,0.00,1.00,0.95,"304,600,000.00"
3,Africa,Algeria,"2,381,740.00","405,000.00","17,291,463.00",1.00,0.00,2.00,5.27,"135,900,000.00"
89,North America,Greenland,"2,166,086.00","4,000.00","39,544.00",49.00,0.00,0.00,nan,"613,800.00"
199,Asia,Saudi Arabia,"2,149,690.00","3,287,000.00","20,768,456.00",0.00,0.00,0.00,8.78,"657,100,000.00"
139,North America,Mexico,"1,964,375.00","1,984,000.00","73,334,032.00",17.00,2.00,9.00,0.54,"454,100,000.00"
104,Asia,Indonesia,"1,904,569.00","1,601,000.00","65,525,226.00",9.00,0.00,6.00,0.72,"540,700,000.00"
214,Africa,Sudan,"1,861,484.00","112,000.00","10,284,260.00",51.00,0.00,6.00,2.28,"16,030,000.00"
105,Asia,Iran,"1,648,195.00","1,804,000.00","67,600,000.00",15.00,1.00,0.00,2.67,"638,300,000.00"
141,Asia,Mongolia,"1,564,116.00","27,000.00","674,949.00",2.00,0.00,11.00,0.68,"19,860,000.00"
176,South America,Peru,"1,285,216.00","250,000.00","13,975,422.00",35.00,0.00,4.00,1.19,"55,940,000.00"
42,Africa,Chad,"1,284,000.00","2,300.00","592,623.00",0.00,0.00,3.00,2.13,"342,200.00"
161,Africa,Niger,"1,267,000.00","14,000.00","805,702.00",0.00,0.00,5.00,2.45,"2,534,000.00"
6,Africa,Angola,"1,246,700.00","130,000.00","2,622,403.00",64.00,0.00,2.00,1.78,"20,950,000.00"
134,Africa,Mali,"1,240,192.00","22,000.00","1,940,978.00",31.00,0.00,1.00,2.87,"3,388,000.00"
209,Africa,South Africa,"1,219,090.00","621,000.00","29,322,380.00",1.00,4.00,10.00,0.98,"572,300,000.00"
48,South America,Colombia,"1,138,910.00","333,000.00","27,452,550.00",69.00,0.00,2.00,3.50,"95,590,000.00"
66,Africa,Ethiopia,"1,104,300.00","74,000.00","15,731,741.00",86.00,0.00,11.00,0.64,"12,180,000.00"
22,South America,Bolivia,"1,098,581.00","83,000.00","4,354,678.00",18.00,0.00,7.00,1.50,"17,660,000.00"
137,Africa,Mauritania,"1,030,700.00","17,000.00","661,913.00",16.00,0.00,20.00,3.02,"2,615,000.00"
237,Africa,Egypt,"1,001,450.00","878,000.00","39,097,468.00",6.00,0.00,2.00,1.25,"232,700,000.00"
242,Africa,Tanzania,"947,300.00","72,000.00","6,822,754.00",40.00,0.00,6.00,1.21,"14,570,000.00"
162,Africa,Nigeria,"923,768.00","325,000.00","47,759,904.00",19.00,0.00,0.00,0.51,"104,000,000.00"
248,South America,Venezuela,"912,050.00","659,000.00","18,547,381.00",49.00,0.00,0.00,0.49,"129,900,000.00"
148,Africa,Namibia,"824,292.00","27,000.00","756,118.00",64.00,0.00,8.00,3.35,"3,958,000.00"
146,Africa,Mozambique,"799,380.00","26,000.00","4,543,284.00",83.00,0.00,1.00,0.99,"11,120,000.00"
172,Asia,Pakistan,"796,095.00","557,000.00","31,338,715.00",27.00,5.00,7.00,4.03,"179,500,000.00"
229,Europe,Turkey,"783,562.00","989,900.00","46,838,412.00",33.00,0.00,14.00,1.89,"379,500,000.00"
230,Asia,Turkey,"783,562.00","989,900.00","46,838,412.00",33.00,0.00,14.00,1.89,"379,500,000.00"
43,South America,Chile,"756,102.00","354,500.00","11,650,840.00",26.00,0.00,15.00,1.89,"88,230,000.00"
252,Africa,Zambia,"752,618.00","23,000.00","3,956,252.00",93.00,0.00,2.00,1.25,"3,777,000.00"
0,Asia,Afghanistan,"652,230.00","35,000.00",nan,52.00,0.00,4.00,0.99,"9,067,000.00"
212,Africa,South Sudan,"644,329.00","8,000.00",nan,0.00,0.00,1.00,1.33,"1,224,000.00"
75,Europe,France,"643,801.00","1,705,000.00","57,226,585.00",15.00,50.00,19.00,1.84,"341,200,000.00"
208,Africa,Somalia,"637,657.00","5,600.00","203,366.00",0.00,0.00,7.00,nan,"852,500.00"
40,Africa,Central African Republic,"622,984.00","2,800.00","246,000.00",50.00,0.00,1.00,1.41,"413,800.00"
235,Europe,Ukraine,"603,550.00","233,000.00","23,202,067.00",8.00,23.00,3.00,3.78,"238,900,000.00"
130,Africa,Madagascar,"587,041.00","18,000.00","1,151,563.00",24.00,0.00,2.00,0.60,"4,021,000.00"
24,Africa,Botswana,"581,730.00","21,000.00","869,610.00",0.00,0.00,0.00,2.78,"6,235,000.00"
116,Africa,Kenya,"580,367.00","109,000.00","12,165,597.00",34.00,0.00,33.00,1.30,"17,980,000.00"
251,Asia,Yemen,"527,968.00","104,000.00","6,732,928.00",0.00,0.00,21.00,3.98,"13,680,000.00"
222,Asia,Thailand,"513,120.00","1,326,000.00","32,398,778.00",8.00,0.00,16.00,1.33,"355,000,000.00"

In [169]:
nan = final_df[final_df['Area_sqKm'].isnull()]
len(nan)

0

In [170]:
final_df.dropna(subset = ['refined_petroleum_consumption_barrels_per_day'], inplace = True)

In [171]:
final_df.isnull().sum()

continent_name                                           0
country                                                  0
Area_sqKm                                                0
refined_petroleum_consumption_barrels_per_day            0
number_of_internet_users                                 4
hydro_percentage_of_electricity_production               0
nuclear_percentage_of_electricity_production             0
other_renewable_percentage_of_electricity_production     0
mili_exp_%_gdp                                          47
carbon_emissions_from_energy_consumption_MT              0
dtype: int64

In [172]:
median_exp = final_df['mili_exp_%_gdp'].median()
armed_countries = ['Syria','Qatar']
# final_df[(final_df['mili_exp_%_gdp'].isnull()) & (final_df.country.isin(armed_countries))]['mili_exp_%_gdp'] = median_exp

In [173]:
rows_to_change = list(final_df[(final_df['mili_exp_%_gdp'].isnull()) &
         (final_df.country.isin(armed_countries))].index)

In [174]:
final_df.loc[rows_to_change,'mili_exp_%_gdp'] = median_exp
final_df[final_df.country.isin(armed_countries)]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
220,Asia,Syria,"187,437.00","134,000.00","5,476,850.00",17.00,0.00,0.00,1.49,"27,510,000.00"
184,Asia,Qatar,"11,586.00","277,000.00","2,129,360.00",0.00,0.00,1.00,1.49,"114,200,000.00"

In [175]:
#Replacing military expenditure for remaining countries with 0 as no armies
final_df['mili_exp_%_gdp'].fillna(0,inplace = True )

In [176]:
final_df.isnull().sum()

continent_name                                          0
country                                                 0
Area_sqKm                                               0
refined_petroleum_consumption_barrels_per_day           0
number_of_internet_users                                4
hydro_percentage_of_electricity_production              0
nuclear_percentage_of_electricity_production            0
other_renewable_percentage_of_electricity_production    0
mili_exp_%_gdp                                          0
carbon_emissions_from_energy_consumption_MT             0
dtype: int64

In [177]:
nan = final_df[final_df.isna().any(axis=1)]
nan

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,"652,230.00","35,000.00",nan,52.00,0.00,4.00,0.99,"9,067,000.00"
212,Africa,South Sudan,"644,329.00","8,000.00",nan,0.00,0.00,1.00,1.33,"1,224,000.00"
213,Africa,Western Sahara,"266,000.00","1,700.00",nan,0.00,0.00,0.00,0.00,"268,400.00"
232,North America,Turks and Caicos Islands,948.00,"1,420.00",nan,0.00,0.00,0.00,0.00,"221,800.00"

In [178]:
final_df['number_of_internet_users'].median()

2677502.0

In [179]:
median_int = final_df['number_of_internet_users'].median()
internet_users = ['Afghanistan','South Sudan']

In [180]:
int_rows_to_change = list(final_df[(final_df['number_of_internet_users'].isnull()) &
         (final_df.country.isin(internet_users))].index)

In [181]:
final_df.loc[int_rows_to_change,'number_of_internet_users'] = median_int
final_df[final_df.country.isin(internet_users)]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,"652,230.00","35,000.00","2,677,502.00",52.00,0.00,4.00,0.99,"9,067,000.00"
212,Africa,South Sudan,"644,329.00","8,000.00","2,677,502.00",0.00,0.00,1.00,1.33,"1,224,000.00"

In [182]:
final_df['number_of_internet_users'].fillna(0,inplace = True )

In [183]:
final_df.isnull().sum()

continent_name                                          0
country                                                 0
Area_sqKm                                               0
refined_petroleum_consumption_barrels_per_day           0
number_of_internet_users                                0
hydro_percentage_of_electricity_production              0
nuclear_percentage_of_electricity_production            0
other_renewable_percentage_of_electricity_production    0
mili_exp_%_gdp                                          0
carbon_emissions_from_energy_consumption_MT             0
dtype: int64

In [184]:
final_df.head()

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
187,Europe,Russia,"17,098,242.00","3,650,000.00","108,772,470.00",21.00,11.00,1.00,3.93,"1,847,000,000.00"
37,North America,Canada,"9,984,670.00","2,445,000.00","31,770,034.00",56.00,9.00,12.00,1.31,"640,600,000.00"
243,North America,United States,"9,833,517.00","19,960,000.00","246,809,221.00",7.00,9.00,14.00,3.42,"5,242,000,000.00"
44,Asia,China,"9,596,960.00","12,470,000.00","730,723,960.00",18.00,2.00,18.00,1.87,"11,670,000,000.00"
26,South America,Brazil,"8,515,770.00","2,956,000.00","122,841,218.00",64.00,1.00,18.00,1.48,"513,800,000.00"

In [185]:
final_df['renewable_electricity'] = final_df['hydro_percentage_of_electricity_production'] + final_df['nuclear_percentage_of_electricity_production'] + final_df['other_renewable_percentage_of_electricity_production']

In [186]:
continent_df = final_df.pivot_table(index = 'continent_name', values = ['refined_petroleum_consumption_barrels_per_day', 
                                                         'number_of_internet_users','renewable_electricity' 
                                                         ,'carbon_emissions_from_energy_consumption_MT',"mili_exp_%_gdp"], aggfunc = np.mean)



continent_df.reset_index(inplace = True)
continent_df

,continent_name,carbon_emissions_from_energy_consumption_MT,mili_exp_%_gdp,number_of_internet_users,refined_petroleum_consumption_barrels_per_day,renewable_electricity
0,Africa,"27,374,740.82",1.43,"5,868,277.86","77,448.16",37.33
1,Asia,"466,522,251.11",2.50,"39,905,819.38","873,357.78",27.96
2,Europe,"145,304,857.45",1.55,"13,921,629.04","415,172.77",49.60
3,North America,"211,292,992.90",0.52,"12,467,495.10","820,406.45",24.23
4,Oceania,"29,204,432.47",0.25,"1,538,164.29","85,270.29",27.59
5,South America,"96,821,666.67",1.49,"20,381,685.50","485,791.67",51.42

In [187]:
continent_df.columns

Index(['continent_name', 'carbon_emissions_from_energy_consumption_MT',
       'mili_exp_%_gdp', 'number_of_internet_users',
       'refined_petroleum_consumption_barrels_per_day',
       'renewable_electricity'],
      dtype='object')

In [188]:
continent_df
pd.options.display.float_format = '{:,.2f}'.format

print (continent_df)

  continent_name  carbon_emissions_from_energy_consumption_MT  mili_exp_%_gdp  \
0         Africa                                27,374,740.82            1.43
1           Asia                               466,522,251.11            2.50
2         Europe                               145,304,857.45            1.55
3  North America                               211,292,992.90            0.52
4        Oceania                                29,204,432.47            0.25
5  South America                                96,821,666.67            1.49

   number_of_internet_users  refined_petroleum_consumption_barrels_per_day  \
0              5,868,277.86                                      77,448.16
1             39,905,819.38                                     873,357.78
2             13,921,629.04                                     415,172.77
3             12,467,495.10                                     820,406.45
4              1,538,164.29                                      85,270.29
5             20,381,685.50                                     485,791.67

   renewable_electricity
0                  37.33
1                  27.96
2                  49.60
3                  24.23
4                  27.59
5                  51.42

In [189]:
def color_red(value):

    if value >= 100000000 :
        color = 'red'
    elif value < 100000000:
        color = 'green'
    else:
        color = 'black'

    return 'color: %s'% color

In [190]:
continent_df['mili_exp_%_gdp'] = continent_df['mili_exp_%_gdp'].div(100).round(4)
continent_df['renewable_electricity'] = continent_df['renewable_electricity'].div(100).round(4)

cm = sns.light_palette('grey', as_cmap=True)

In [192]:

cdf = continent_df.style.applymap(color_red, subset=['carbon_emissions_from_energy_consumption_MT'])

cdf = continent_df.style.format({'continent_name': str.upper,
                           'carbon_emissions_from_energy_consumption_MT': '{:20,.0f}',"mili_exp_%_gdp":'{:.2%}',
                          "number_of_internet_users":'{:20,.0f}', "refined_petroleum_consumption_barrels_per_day":'{:20,.0f}',"renewable_electricity":'{:.2%}'})

cdf