In [2]:
import pandas as pd
import numpy as np

In [3]:
files = ["EDUCATIONSPEND",
"POPGROWTH",
"LIFEXP",
"MIGRATION",
"GDP",
"GDPGROWTH",
"GDPPERCAP",
"INDUSTPRODGR",
"WORKFORCE",
"UNEMPLOYMENT",
"BUDGET",
"PUBLICDEBT",
"CURACCT",
"EXPORTS",
"IMPORTS",
"DEBTFOREIGNERS",
"AIRPORTS",
"MILIEXPENDITURE",
"RAILWAYS",
"ROADWAYS",
"WATERWAYS",
"MARMERCHANT",
"continent",
"electricconsupmtion",
"emissions",
"fossilelectricity",
"hydroelectricity",
"internetusers",
"naturalgasconsumption",
"nuclearelectricity",
"otherrenewableelectricity",
"petroleumconsumption",
"AREA",
"POPULATION"]

In [4]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [5]:
pd_dict['AIRPORTS'].head()

   Unnamed: 0        COUNTRY AIRPORTS  YEAR
0           1  United States   13,513  2013
1           2         Brazil    4,093  2013
2           3         Mexico    1,714  2013
3           4         Canada    1,467  2013
4           5         Russia    1,218  2013

In [6]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']
petrol_df = pd_dict['petroleumconsumption']
users_df = pd_dict['internetusers']
hydro_df = pd_dict['hydroelectricity']
nuclear_df = pd_dict['nuclearelectricity']
otherrenew_df = pd_dict['otherrenewableelectricity']
mili_df = pd_dict['MILIEXPENDITURE']

In [7]:
for i, row in base_df.iterrows(): 
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]

In [8]:
base_df.head()

  continent_name                                  country_name
0           Asia                                   Afghanistan
1         Europe                                       Albania
2     Antarctica  Antarctica (the territory South of 60 deg S)
3         Africa                                       Algeria
4        Oceania                                American Samoa

In [12]:
mili_df.head()

   Unnamed: 0               COUNTRY  % OF GDP  YEAR Unnamed: 4
0           1          Saudi Arabia      8.78  2018        NaN
1           2                  Oman      8.17  2018        NaN
2           3  United Arab Emirates      5.70  2016        NaN
3           4               Algeria      5.27  2018        NaN
4           5                Kuwait      5.06  2018        NaN

In [15]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
df1 = base_df.merge(area_df, on = 'Country', how = 'left')

df1.rename(columns = {'Country':'country'}, inplace = True)
df2 = df1.merge(petrol_df, on = 'country', how = 'left')
df3 = df2.merge(users_df, on = 'country', how = 'left')
df4 = df3.merge(hydro_df, on = 'country', how = 'left')
df5 = df4.merge(nuclear_df, on = 'country', how = 'left')
df6 = df5.merge(otherrenew_df, on = 'country', how = 'left')
mili_df.rename(columns = {'COUNTRY':'country'}, inplace = True)
df7 = df6.merge(mili_df, on = 'country', how = 'left')
mili_df.rename(columns = {'% OF GDP':'mili_exp_%_gdp'}, inplace = True)


final_df = df7[['continent_name','country','Area_sqKm','refined_petroleum_consumption_barrels_per_day','number_of_internet_users', 'hydro_percentage_of_electricity_production','nuclear_percentage_of_electricity_production', 'other_renewable_percentage_of_electricity_production','mili_exp_%_gdp']].copy()
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
0,Asia,Afghanistan,"652,230.00","35,000",NaN,52.0,0.0,4.0,0.99
1,Europe,Albania,"28,748.00","29,000","2,016,516",95.0,0.0,0.0,1.26
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,"2,381,740.00","405,000","17,291,463",1.0,0.0,2.0,5.27
4,Oceania,American Samoa,224,"2,375","17,000",0.0,0.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...
257,Africa,Zambia,"752,618.00","23,000","3,956,252",93.0,0.0,2.0,1.25
258,Oceania,Disputed Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Asia,Iraq-Saudi Arabia Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Asia,United Nations Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Asia,Spratly Islands,5,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Add Carbon Emissions
#Add Military expenditures
#Add Non fossil energy production
#Add Petrolconsumption
#Add Internet users

In [10]:
#Do countries with high carbon emissions burn petrol?