In [1]:
import pandas as pd

In [2]:
files = ['AIRPORTS',
'AREA',
'BUDGET',
'continent',
'CURACCT',
'DEBTFOREIGNERS',
'EDUCATIONSPEND',
'electricconsupmtion',
'emissions',
'EXPORTS',
'fossilelectricity',
'GDP',
'GDPGROWTH',
'GDPPERCAP',
'hydroelectricity',
'IMPORTS',
'INDUSTPRODGR',
'internetusers',
'LIFEXP',
'MARMERCHANT',
'MIGRATION',
'MILIEXPENDITURE',
'naturalgasconsumption',
'nuclearelectricity',
'otherrenewableelectricity',
'petroleumconsumption',
'POPGROWTH',
'POPULATION',
'PUBLICDEBT',
'RAILWAYS',
'ROADWAYS',
'UNEMPLOYMENT',
'WATERWAYS',
'WORKFORCE']

In [3]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [4]:
# file.head()
pd_dict['AIRPORTS'].head()

   Unnamed: 0        COUNTRY AIRPORTS  YEAR
0           1  United States   13,513  2013
1           2         Brazil    4,093  2013
2           3         Mexico    1,714  2013
3           4         Canada    1,467  2013
4           5         Russia    1,218  2013

In [5]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']

In [6]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']
petrol_df = pd_dict['petroleumconsumption']
users_df = pd_dict['internetusers']
hydro_df = pd_dict['hydroelectricity']
nuclear_df = pd_dict['nuclearelectricity']
otherrenew_df = pd_dict['otherrenewableelectricity']
mili_df = pd_dict['MILIEXPENDITURE']
mili_df.rename(columns = {'% OF GDP':'mili_exp_%_gdp'}, inplace = True)

In [7]:
for i, row in base_df.iterrows():
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]

In [8]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
base_df.merge(area_df, on = 'Country', how = 'left')

,continent_name,Country,Index,Area_sqKm
0,Asia,Afghanistan,42.0,"652,230.00"
1,Europe,Albania,145.0,"28,748.00"
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN
3,Africa,Algeria,11.0,"2,381,740.00"
4,Oceania,American Samoa,216.0,224
...,...,...,...,...
257,Africa,Zambia,40.0,"752,618.00"
258,Oceania,Disputed Territory,NaN,NaN
259,Asia,Iraq-Saudi Arabia Neutral Zone,NaN,NaN
260,Asia,United Nations Neutral Zone,NaN,NaN
261,Asia,Spratly Islands,251.0,5

In [9]:
mili_df.head()

   Unnamed: 0               COUNTRY  mili_exp_%_gdp  YEAR Unnamed: 4
0           1          Saudi Arabia            8.78  2018        NaN
1           2                  Oman            8.17  2018        NaN
2           3  United Arab Emirates            5.70  2016        NaN
3           4               Algeria            5.27  2018        NaN
4           5                Kuwait            5.06  2018        NaN

In [10]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
df1 = base_df.merge(area_df, on = 'Country', how = 'left')

df1.rename(columns = {'Country':'country'}, inplace = True)
df2 = df1.merge(petrol_df, on = 'country', how = 'outer')
df3 = df2.merge(users_df, on = 'country', how = 'outer')
df4 = df3.merge(hydro_df, on = 'country', how = 'outer')
df5 = df4.merge(nuclear_df, on = 'country', how = 'outer')
df6 = df5.merge(otherrenew_df, on = 'country', how = 'outer')
mili_df.rename(columns = {'COUNTRY':'country'}, inplace = True)
df7 = df6.merge(mili_df, on = 'country', how = 'outer')

In [11]:
final_df = df7[['continent_name','country','Area_sqKm','refined_petroleum_consumption_barrels_per_day','number_of_internet_users', 'hydro_percentage_of_electricity_production','nuclear_percentage_of_electricity_production', 'other_renewable_percentage_of_electricity_production','mili_exp_%_gdp']].copy()
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
0,Asia,Afghanistan,"652,230.00","35,000",NaN,52.0,0.0,4.0,0.99
1,Europe,Albania,"28,748.00","29,000","2,016,516",95.0,0.0,0.0,1.26
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,"2,381,740.00","405,000","17,291,463",1.0,0.0,2.0,5.27
4,Oceania,American Samoa,224,"2,375","17,000",0.0,0.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...
289,NaN,"Saint Helena, Ascension, and Tristan da Cunha",NaN,70,"1,800",0.0,0.0,0.0,NaN
290,NaN,Gaza Strip,NaN,NaN,"2,673,000",NaN,NaN,NaN,NaN
291,NaN,"Micronesia, Federated States of",NaN,NaN,"33,000",1.0,0.0,3.0,NaN
292,NaN,Antarctica,NaN,NaN,"4,400",NaN,NaN,NaN,NaN
293,NaN,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,1.19

In [12]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 294 entries, 0 to 293
Data columns (total 9 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   continent_name                                        262 non-null    object
 1   country                                               294 non-null    object
 2   Area_sqKm                                             214 non-null    object
 3   refined_petroleum_consumption_barrels_per_day         221 non-null    object
 4   number_of_internet_users                              232 non-null    object
 5   hydro_percentage_of_electricity_production            221 non-null    float64
 6   nuclear_percentage_of_electricity_production          221 non-null    float64
 7   other_renewable_percentage_of_electricity_production  220 non-null    float64
 8   mili_exp_%_gdp                                        164 non-null    float64
dtypes: float64(4), object(5)
memory usage: 23.0+ KB

In [13]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].str.replace(',', '')
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].str.replace(',', '')
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].str.replace(',', '')

In [14]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].astype(float)
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].astype(float)
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].astype(float)

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 294 entries, 0 to 293
Data columns (total 9 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   continent_name                                        262 non-null    object
 1   country                                               294 non-null    object
 2   Area_sqKm                                             214 non-null    float64
 3   refined_petroleum_consumption_barrels_per_day         221 non-null    float64
 4   number_of_internet_users                              232 non-null    float64
 5   hydro_percentage_of_electricity_production            221 non-null    float64
 6   nuclear_percentage_of_electricity_production          221 non-null    float64
 7   other_renewable_percentage_of_electricity_production  220 non-null    float64
 8   mili_exp_%_gdp                                        164 non-null    float64
dtypes: float64(7), object(2)
memory usage: 23.0+ KB

In [16]:
final_df.sort_values(by=['Area_sqKm'], ascending = False)

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
38,North America,Canada,9984670.0,2445000.0,31770034.0,56.0,9.0,12.0,1.31
45,Asia,China,9596960.0,12470000.0,730723960.0,18.0,2.0,18.0,1.87
26,South America,Brazil,8515770.0,2956000.0,122841218.0,64.0,1.0,18.0,1.48
11,Oceania,Australia,7741220.0,1175000.0,20288409.0,11.0,0.0,17.0,1.89
106,Asia,India,3287263.0,4521000.0,374328160.0,12.0,2.0,16.0,2.04
...,...,...,...,...,...,...,...,...,...
289,NaN,"Saint Helena, Ascension, and Tristan da Cunha",NaN,70.0,1800.0,0.0,0.0,0.0,NaN
290,NaN,Gaza Strip,NaN,NaN,2673000.0,NaN,NaN,NaN,NaN
291,NaN,"Micronesia, Federated States of",NaN,NaN,33000.0,1.0,0.0,3.0,NaN
292,NaN,Antarctica,NaN,NaN,4400.0,NaN,NaN,NaN,NaN
293,NaN,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,1.19

In [17]:
final_df.loc[final_df['country'] == "Russia"]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
263,NaN,Russia,NaN,3650000.0,108772470.0,21.0,11.0,1.0,3.93

In [21]:
final_df.loc[final_df['country'] == "United States"]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
262,NaN,United States,NaN,19960000.0,246809221.0,7.0,9.0,14.0,3.42