In [1]:
import pandas as pd
import numpy as np

In [2]:
files = ["EDUCATIONSPEND",
"POPGROWTH",
"LIFEXP",
"MIGRATION",
"GDP",
"GDPGROWTH",
"GDPPERCAP",
"INDUSTPRODGR",
"WORKFORCE",
"UNEMPLOYMENT",
"BUDGET",
"PUBLICDEBT",
"CURACCT",
"EXPORTS",
"IMPORTS",
"DEBTFOREIGNERS",
"AIRPORTS",
"MILIEXPENDITURE",
"RAILWAYS",
"ROADWAYS",
"WATERWAYS",
"MARMERCHANT",
"continent",
"electricconsupmtion",
"emissions",
"fossilelectricity",
"hydroelectricity",
"internetusers",
"naturalgasconsumption",
"nuclearelectricity",
"otherrenewableelectricity",
"petroleumconsumption",
"AREA",
"POPULATION"]

In [3]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [4]:
pd_dict['AIRPORTS'].head()

   Unnamed: 0        COUNTRY AIRPORTS  YEAR
0           1  United States   13,513  2013
1           2         Brazil    4,093  2013
2           3         Mexico    1,714  2013
3           4         Canada    1,467  2013
4           5         Russia    1,218  2013

In [5]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']
petrol_df = pd_dict['petroleumconsumption']
users_df = pd_dict['internetusers']
hydro_df = pd_dict['hydroelectricity']
nuclear_df = pd_dict['nuclearelectricity']
otherrenew_df = pd_dict['otherrenewableelectricity']
mili_df = pd_dict['MILIEXPENDITURE']
co2_df = pd_dict['emissions']
mili_df.rename(columns = {'% OF GDP':'mili_exp_%_gdp'}, inplace = True)

In [6]:
for i, row in base_df.iterrows(): 
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]

In [7]:
base_df.head()

  continent_name                                  country_name
0           Asia                                   Afghanistan
1         Europe                                       Albania
2     Antarctica  Antarctica (the territory South of 60 deg S)
3         Africa                                       Algeria
4        Oceania                                American Samoa

In [8]:
mili_df.head()

   Unnamed: 0               COUNTRY  mili_exp_%_gdp  YEAR Unnamed: 4
0           1          Saudi Arabia            8.78  2018        NaN
1           2                  Oman            8.17  2018        NaN
2           3  United Arab Emirates            5.70  2016        NaN
3           4               Algeria            5.27  2018        NaN
4           5                Kuwait            5.06  2018        NaN

In [9]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
df1 = base_df.merge(area_df, on = 'Country', how = 'outer')

df1.rename(columns = {'Country':'country'}, inplace = True)
df2 = df1.merge(petrol_df, on = 'country', how = 'outer')
df3 = df2.merge(users_df, on = 'country', how = 'outer')
df4 = df3.merge(hydro_df, on = 'country', how = 'outer')
df5 = df4.merge(nuclear_df, on = 'country', how = 'outer')
df6 = df5.merge(otherrenew_df, on = 'country', how = 'outer')
mili_df.rename(columns = {'COUNTRY':'country'}, inplace = True)
df7 = df6.merge(mili_df, on = 'country', how = 'outer')
df8 = df7.merge(co2_df, on = 'country', how = 'outer')


df8.head()

,continent_name,country,Index,Area_sqKm,Unnamed: 0_x,refined_petroleum_consumption_barrels_per_day,year_x,Unnamed: 4_x,Unnamed: 0_y,number_of_internet_users,...,year_y,Unnamed: 4_y,Unnamed: 0_y,mili_exp_%_gdp,YEAR,Unnamed: 4_x,Unnamed: 0,year,carbon_emissions_from_energy_consumption_MT,Unnamed: 4_y
0,Asia,Afghanistan,42.0,"652,230.00",117.0,"35,000",2016.0,est.,NaN,NaN,...,2017.0,est.,116.0,0.99,2018.0,NaN,111.0,2017.0,"9,067,000.00",est.
1,Europe,Albania,145.0,"28,748.00",120.0,"29,000",2016.0,est.,111.0,"2,016,516",...,2017.0,est.,97.0,1.26,2019.0,est.,136.0,2017.0,"4,500,000.00",est.
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,11.0,"2,381,740.00",37.0,"405,000",2016.0,est.,37.0,"17,291,463",...,2017.0,est.,4.0,5.27,2018.0,NaN,34.0,2017.0,"135,900,000.00",est.
4,Oceania,American Samoa,216.0,224,192.0,"2,375",2016.0,est.,206.0,"17,000",...,2017.0,est.,NaN,NaN,NaN,NaN,189.0,2017.0,"361,100.00",est.

In [10]:
final_df = df8[['continent_name','country','Area_sqKm','refined_petroleum_consumption_barrels_per_day','number_of_internet_users', 'hydro_percentage_of_electricity_production','nuclear_percentage_of_electricity_production', 'other_renewable_percentage_of_electricity_production','mili_exp_%_gdp',"carbon_emissions_from_energy_consumption_MT"]].copy()
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,"652,230.00","35,000",NaN,52.0,0.0,4.0,0.99,"9,067,000.00"
1,Europe,Albania,"28,748.00","29,000","2,016,516",95.0,0.0,0.0,1.26,"4,500,000.00"
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,"2,381,740.00","405,000","17,291,463",1.0,0.0,2.0,5.27,"135,900,000.00"
4,Oceania,American Samoa,224,"2,375","17,000",0.0,0.0,2.0,NaN,"361,100.00"
...,...,...,...,...,...,...,...,...,...,...
295,NaN,Johnston Atoll,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,NaN,Howland Island,1.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,NaN,Kingman Reef,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,NaN,Holy See (Vatican City),0.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,NaN,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,1.19,NaN

In [11]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].str.replace(',','')
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].str.replace(',', '')
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].str.replace(',', '')

In [12]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].astype(float)
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].astype(float)
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].astype(float)

In [13]:
#Do countries with high carbon emissions burn petrol? 
final_df = final_df.sort_values(by = ['Area_sqKm'], ascending = False)
final_df.dropna(subset=['continent_name', "Area_sqKm"], inplace = True)
final_df.head(n=50)

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
187,Europe,Russia,17098242.0,3650000.0,108772470.0,21.0,11.0,1.0,3.93,"1,847,000,000.00"
37,North America,Canada,9984670.0,2445000.0,31770034.0,56.0,9.0,12.0,1.31,"640,600,000.00"
243,North America,United States,9833517.0,19960000.0,246809221.0,7.0,9.0,14.0,3.42,"5,242,000,000.00"
44,Asia,China,9596960.0,12470000.0,730723960.0,18.0,2.0,18.0,1.87,"11,670,000,000.00"
26,South America,Brazil,8515770.0,2956000.0,122841218.0,64.0,1.0,18.0,1.48,"513,800,000.00"
11,Oceania,Australia,7741220.0,1175000.0,20288409.0,11.0,0.0,17.0,1.89,"439,100,000.00"
103,Asia,India,3287263.0,4521000.0,374328160.0,12.0,2.0,16.0,2.04,"2,383,000,000.00"
10,South America,Argentina,2780400.0,806000.0,30786889.0,24.0,4.0,3.0,0.86,"203,700,000.00"
114,Asia,Kazakhstan,2724900.0,274000.0,14100751.0,14.0,0.0,1.0,0.95,"304,600,000.00"
113,Europe,Kazakhstan,2724900.0,274000.0,14100751.0,14.0,0.0,1.0,0.95,"304,600,000.00"
3,Africa,Algeria,2381740.0,405000.0,17291463.0,1.0,0.0,2.0,5.27,"135,900,000.00"
89,North America,Greenland,2166086.0,4000.0,39544.0,49.0,0.0,0.0,NaN,"613,800.00"
199,Asia,Saudi Arabia,2149690.0,3287000.0,20768456.0,0.0,0.0,0.0,8.78,"657,100,000.00"
139,North America,Mexico,1964375.0,1984000.0,73334032.0,17.0,2.0,9.0,0.54,"454,100,000.00"
104,Asia,Indonesia,1904569.0,1601000.0,65525226.0,9.0,0.0,6.0,0.72,"540,700,000.00"
214,Africa,Sudan,1861484.0,112000.0,10284260.0,51.0,0.0,6.0,2.28,"16,030,000.00"
105,Asia,Iran,1648195.0,1804000.0,67600000.0,15.0,1.0,0.0,2.67,"638,300,000.00"
141,Asia,Mongolia,1564116.0,27000.0,674949.0,2.0,0.0,11.0,0.68,"19,860,000.00"
176,South America,Peru,1285216.0,250000.0,13975422.0,35.0,0.0,4.0,1.19,"55,940,000.00"
42,Africa,Chad,1284000.0,2300.0,592623.0,0.0,0.0,3.0,2.13,"342,200.00"
161,Africa,Niger,1267000.0,14000.0,805702.0,0.0,0.0,5.0,2.45,"2,534,000.00"
6,Africa,Angola,1246700.0,130000.0,2622403.0,64.0,0.0,2.0,1.78,"20,950,000.00"
134,Africa,Mali,1240192.0,22000.0,1940978.0,31.0,0.0,1.0,2.87,"3,388,000.00"
209,Africa,South Africa,1219090.0,621000.0,29322380.0,1.0,4.0,10.0,0.98,"572,300,000.00"
48,South America,Colombia,1138910.0,333000.0,27452550.0,69.0,0.0,2.0,3.50,"95,590,000.00"
66,Africa,Ethiopia,1104300.0,74000.0,15731741.0,86.0,0.0,11.0,0.64,"12,180,000.00"
22,South America,Bolivia,1098581.0,83000.0,4354678.0,18.0,0.0,7.0,1.50,"17,660,000.00"
137,Africa,Mauritania,1030700.0,17000.0,661913.0,16.0,0.0,20.0,3.02,"2,615,000.00"
237,Africa,Egypt,1001450.0,878000.0,39097468.0,6.0,0.0,2.0,1.25,"232,700,000.00"
242,Africa,Tanzania,947300.0,72000.0,6822754.0,40.0,0.0,6.0,1.21,"14,570,000.00"
162,Africa,Nigeria,923768.0,325000.0,47759904.0,19.0,0.0,0.0,0.51,"104,000,000.00"
248,South America,Venezuela,912050.0,659000.0,18547381.0,49.0,0.0,0.0,0.49,"129,900,000.00"
148,Africa,Namibia,824292.0,27000.0,756118.0,64.0,0.0,8.0,3.35,"3,958,000.00"
146,Africa,Mozambique,799380.0,26000.0,4543284.0,83.0,0.0,1.0,0.99,"11,120,000.00"
172,Asia,Pakistan,796095.0,557000.0,31338715.0,27.0,5.0,7.0,4.03,"179,500,000.00"
229,Europe,Turkey,783562.0,989900.0,46838412.0,33.0,0.0,14.0,1.89,"379,500,000.00"
230,Asia,Turkey,783562.0,989900.0,46838412.0,33.0,0.0,14.0,1.89,"379,500,000.00"
43,South America,Chile,756102.0,354500.0,11650840.0,26.0,0.0,15.0,1.89,"88,230,000.00"
252,Africa,Zambia,752618.0,23000.0,3956252.0,93.0,0.0,2.0,1.25,"3,777,000.00"
0,Asia,Afghanistan,652230.0,35000.0,NaN,52.0,0.0,4.0,0.99,"9,067,000.00"
212,Africa,South Sudan,644329.0,8000.0,NaN,0.0,0.0,1.0,1.33,"1,224,000.00"
75,Europe,France,643801.0,1705000.0,57226585.0,15.0,50.0,19.0,1.84,"341,200,000.00"
208,Africa,Somalia,637657.0,5600.0,203366.0,0.0,0.0,7.0,NaN,"852,500.00"
40,Africa,Central African Republic,622984.0,2800.0,246000.0,50.0,0.0,1.0,1.41,"413,800.00"
235,Europe,Ukraine,603550.0,233000.0,23202067.0,8.0,23.0,3.0,3.78,"238,900,000.00"
130,Africa,Madagascar,587041.0,18000.0,1151563.0,24.0,0.0,2.0,0.60,"4,021,000.00"
24,Africa,Botswana,581730.0,21000.0,869610.0,0.0,0.0,0.0,2.78,"6,235,000.00"
116,Africa,Kenya,580367.0,109000.0,12165597.0,34.0,0.0,33.0,1.30,"17,980,000.00"
251,Asia,Yemen,527968.0,104000.0,6732928.0,0.0,0.0,21.0,3.98,"13,680,000.00"
222,Asia,Thailand,513120.0,1326000.0,32398778.0,8.0,0.0,16.0,1.33,"355,000,000.00"

In [14]:
nan = final_df[final_df['Area_sqKm'].isnull()]
len(nan)

0

In [15]:
final_df.dropna(subset = ['refined_petroleum_consumption_barrels_per_day'], inplace = True)

In [16]:
final_df.isnull().sum()

continent_name                                           0
country                                                  0
Area_sqKm                                                0
refined_petroleum_consumption_barrels_per_day            0
number_of_internet_users                                 4
hydro_percentage_of_electricity_production               0
nuclear_percentage_of_electricity_production             0
other_renewable_percentage_of_electricity_production     0
mili_exp_%_gdp                                          47
carbon_emissions_from_energy_consumption_MT              0
dtype: int64

In [17]:
median_exp = final_df['mili_exp_%_gdp'].median()
armed_countries = ['Syria','Qatar']
# final_df[(final_df['mili_exp_%_gdp'].isnull()) & (final_df.country.isin(armed_countries))]['mili_exp_%_gdp'] = median_exp

In [18]:
rows_to_change = list(final_df[(final_df['mili_exp_%_gdp'].isnull()) &
         (final_df.country.isin(armed_countries))].index)

In [19]:
final_df.loc[rows_to_change,'mili_exp_%_gdp'] = median_exp
final_df[final_df.country.isin(armed_countries)]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
220,Asia,Syria,187437.0,134000.0,5476850.0,17.0,0.0,0.0,1.49,"27,510,000.00"
184,Asia,Qatar,11586.0,277000.0,2129360.0,0.0,0.0,1.0,1.49,"114,200,000.00"

In [20]:
#Replacing military expenditure for remaining countries with 0 as no armies
final_df['mili_exp_%_gdp'].fillna(0,inplace = True )

In [21]:
final_df.isnull().sum()

continent_name                                          0
country                                                 0
Area_sqKm                                               0
refined_petroleum_consumption_barrels_per_day           0
number_of_internet_users                                4
hydro_percentage_of_electricity_production              0
nuclear_percentage_of_electricity_production            0
other_renewable_percentage_of_electricity_production    0
mili_exp_%_gdp                                          0
carbon_emissions_from_energy_consumption_MT             0
dtype: int64

In [22]:
nan = final_df[final_df.isna().any(axis=1)]
nan

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,652230.0,35000.0,NaN,52.0,0.0,4.0,0.99,"9,067,000.00"
212,Africa,South Sudan,644329.0,8000.0,NaN,0.0,0.0,1.0,1.33,"1,224,000.00"
213,Africa,Western Sahara,266000.0,1700.0,NaN,0.0,0.0,0.0,0.00,"268,400.00"
232,North America,Turks and Caicos Islands,948.0,1420.0,NaN,0.0,0.0,0.0,0.00,"221,800.00"

In [23]:
final_df['number_of_internet_users'].median()

2677502.0

In [24]:
median_int = final_df['number_of_internet_users'].median()
internet_users = ['Afghanistan','South Sudan']

In [25]:
int_rows_to_change = list(final_df[(final_df['number_of_internet_users'].isnull()) &
         (final_df.country.isin(internet_users))].index)

In [26]:
final_df.loc[int_rows_to_change,'number_of_internet_users'] = median_int
final_df[final_df.country.isin(internet_users)]

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
0,Asia,Afghanistan,652230.0,35000.0,2677502.0,52.0,0.0,4.0,0.99,"9,067,000.00"
212,Africa,South Sudan,644329.0,8000.0,2677502.0,0.0,0.0,1.0,1.33,"1,224,000.00"

In [27]:
final_df['number_of_internet_users'].fillna(0,inplace = True )

In [28]:
final_df.isnull().sum()

continent_name                                          0
country                                                 0
Area_sqKm                                               0
refined_petroleum_consumption_barrels_per_day           0
number_of_internet_users                                0
hydro_percentage_of_electricity_production              0
nuclear_percentage_of_electricity_production            0
other_renewable_percentage_of_electricity_production    0
mili_exp_%_gdp                                          0
carbon_emissions_from_energy_consumption_MT             0
dtype: int64

In [29]:
final_df.head()

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp,carbon_emissions_from_energy_consumption_MT
187,Europe,Russia,17098242.0,3650000.0,108772470.0,21.0,11.0,1.0,3.93,"1,847,000,000.00"
37,North America,Canada,9984670.0,2445000.0,31770034.0,56.0,9.0,12.0,1.31,"640,600,000.00"
243,North America,United States,9833517.0,19960000.0,246809221.0,7.0,9.0,14.0,3.42,"5,242,000,000.00"
44,Asia,China,9596960.0,12470000.0,730723960.0,18.0,2.0,18.0,1.87,"11,670,000,000.00"
26,South America,Brazil,8515770.0,2956000.0,122841218.0,64.0,1.0,18.0,1.48,"513,800,000.00"