# Importing Libraries

In [1]:
import pandas as pd
import numpy as np

# Uploading Data

In [2]:
files = ['AIRPORTS',
'AREA',
'BUDGET',
'continent',
'CURACCT',
'DEBTFOREIGNERS',
'EDUCATIONSPEND',
'electricconsupmtion',
'emissions',
'EXPORTS',
'fossilelectricity',
'GDP',
'GDPGROWTH',
'GDPPERCAP',
'hydroelectricity',
'IMPORTS',
'INDUSTPRODGR',
'internetusers',
'LIFEXP',
'MARMERCHANT',
'MIGRATION',
'MILIEXPENDITURE',
'naturalgasconsumption',
'nuclearelectricity',
'otherrenewableelectricity',
'petroleumconsumption',
'POPGROWTH',
'POPULATION',
'PUBLICDEBT',
'RAILWAYS',
'ROADWAYS',
'UNEMPLOYMENT',
'WATERWAYS',
'WORKFORCE']

In [11]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [12]:
pd_dict['AIRPORTS']

     Unnamed: 0           COUNTRY AIRPORTS  YEAR
0             1     United States   13,513  2013
1             2            Brazil    4,093  2013
2             3            Mexico    1,714  2013
3             4            Canada    1,467  2013
4             5            Russia    1,218  2013
..          ...               ...      ...   ...
233         234  Saint Barthelemy        1  2013
234         235      Saint Martin        1  2013
235         236      Sint Maarten        1  2013
236         237            Tuvalu        1  2013
237         238       Wake Island        1  2018

[238 rows x 4 columns]

In [5]:
pd_dict['continent']

    continent_name                                  country_name
0             Asia              Afghanistan, Islamic Republic of
1           Europe                          Albania, Republic of
2       Antarctica  Antarctica (the territory South of 60 deg S)
3           Africa      Algeria, People's Democratic Republic of
4          Oceania                                American Samoa
..             ...                                           ...
257         Africa                           Zambia, Republic of
258        Oceania                            Disputed Territory
259           Asia                Iraq-Saudi Arabia Neutral Zone
260           Asia                   United Nations Neutral Zone
261           Asia                               Spratly Islands

[262 rows x 2 columns]

In [13]:
base_df = pd_dict['continent']
area_df = pd_dict['AREA']
petrol_df = pd_dict['petroleumconsumption']
users_df = pd_dict['internetusers']
hydro_df = pd_dict['hydroelectricity']
nuclear_df = pd_dict['nuclearelectricity']
otherrenew_df = pd_dict['otherrenewableelectricity']
mili_df = pd_dict['MILIEXPENDITURE']
mili_df.rename(columns = {'% OF GDP':'mili_exp_%_gdp'}, inplace = True)

In [14]:
for i, row in base_df.iterrows(): 
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]

In [15]:
base_df.head()

  continent_name                                  country_name
0           Asia                                   Afghanistan
1         Europe                                       Albania
2     Antarctica  Antarctica (the territory South of 60 deg S)
3         Africa                                       Algeria
4        Oceania                                American Samoa

In [16]:
mili_df.head()

   Unnamed: 0               COUNTRY  mili_exp_%_gdp  YEAR Unnamed: 4
0           1          Saudi Arabia            8.78  2018        NaN
1           2                  Oman            8.17  2018        NaN
2           3  United Arab Emirates            5.70  2016        NaN
3           4               Algeria            5.27  2018        NaN
4           5                Kuwait            5.06  2018        NaN

In [17]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
df1 = base_df.merge(area_df, on = 'Country', how = 'left')

df1.rename(columns = {'Country':'country'}, inplace = True)
df2 = df1.merge(petrol_df, on = 'country', how = 'left')
df3 = df2.merge(users_df, on = 'country', how = 'left')
df4 = df3.merge(hydro_df, on = 'country', how = 'left')
df5 = df4.merge(nuclear_df, on = 'country', how = 'left')
df6 = df5.merge(otherrenew_df, on = 'country', how = 'left')
mili_df.rename(columns = {'COUNTRY':'country'}, inplace = True)
df7 = df6.merge(mili_df, on = 'country', how = 'left')

mili_df.head()

df7.head()

,continent_name,country,Index,Area_sqKm,Unnamed: 0_x,refined_petroleum_consumption_barrels_per_day,year_x,Unnamed: 4_x,Unnamed: 0_y,number_of_internet_users,...,year_x,Unnamed: 4_x,Unnamed: 0_x,other_renewable_percentage_of_electricity_production,year_y,Unnamed: 4_y,Unnamed: 0_y,mili_exp_%_gdp,YEAR,Unnamed: 4
0,Asia,Afghanistan,42.0,"652,230.00",117.0,"35,000",2016.0,est.,NaN,NaN,...,2017.0,est.,111.0,4.0,2017.0,est.,116.0,0.99,2018.0,NaN
1,Europe,Albania,145.0,"28,748.00",120.0,"29,000",2016.0,est.,111.0,"2,016,516",...,2017.0,est.,172.0,0.0,2017.0,est.,97.0,1.26,2019.0,est.
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,11.0,"2,381,740.00",37.0,"405,000",2016.0,est.,37.0,"17,291,463",...,2017.0,est.,130.0,2.0,2017.0,est.,4.0,5.27,2018.0,NaN
4,Oceania,American Samoa,216.0,224,192.0,"2,375",2016.0,est.,206.0,"17,000",...,2017.0,est.,131.0,2.0,2017.0,est.,NaN,NaN,NaN,NaN

In [18]:
final_df = df7[['continent_name','country','Area_sqKm','refined_petroleum_consumption_barrels_per_day','number_of_internet_users', 'hydro_percentage_of_electricity_production','nuclear_percentage_of_electricity_production', 'other_renewable_percentage_of_electricity_production','mili_exp_%_gdp']].copy()
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
0,Asia,Afghanistan,"652,230.00","35,000",NaN,52.0,0.0,4.0,0.99
1,Europe,Albania,"28,748.00","29,000","2,016,516",95.0,0.0,0.0,1.26
2,Antarctica,Antarctica (the territory South of 60 deg S),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa,Algeria,"2,381,740.00","405,000","17,291,463",1.0,0.0,2.0,5.27
4,Oceania,American Samoa,224,"2,375","17,000",0.0,0.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...
257,Africa,Zambia,"752,618.00","23,000","3,956,252",93.0,0.0,2.0,1.25
258,Oceania,Disputed Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Asia,Iraq-Saudi Arabia Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Asia,United Nations Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Asia,Spratly Islands,5,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
final_df['Area_sqKm'] = final_df['Area_sqKm'].str.replace(',','')
final_df['refined_petroleum_consumption_barrels_per_day'] = final_df['refined_petroleum_consumption_barrels_per_day'].str.replace(',', '')
final_df['number_of_internet_users'] = final_df['number_of_internet_users'].str.replace(',', '')

In [20]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 261
Data columns (total 9 columns):
continent_name                                          262 non-null object
country                                                 262 non-null object
Area_sqKm                                               214 non-null object
refined_petroleum_consumption_barrels_per_day           193 non-null object
number_of_internet_users                                205 non-null object
hydro_percentage_of_electricity_production              195 non-null float64
nuclear_percentage_of_electricity_production            195 non-null float64
other_renewable_percentage_of_electricity_production    194 non-null float64
mili_exp_%_gdp                                          147 non-null float64
dtypes: float64(4), object(5)
memory usage: 20.5+ KB

In [21]:
#Do countries with high carbon emissions burn petrol? 
final_df = final_df.sort_values(by = ['number_of_internet_users'], ascending = False)
final_df

,continent_name,country,Area_sqKm,refined_petroleum_consumption_barrels_per_day,number_of_internet_users,hydro_percentage_of_electricity_production,nuclear_percentage_of_electricity_production,other_renewable_percentage_of_electricity_production,mili_exp_%_gdp
19,Europe,Belgium,30528.00,648600,9870734,1.0,28.0,36.0,0.93
236,Asia,Turkmenistan,488100.00,160000,951925,0.0,0.0,0.0,NaN
88,Africa,Ghana,238533.00,90000,9328018,42.0,0.0,1.0,0.41
58,Europe,Cyprus,9251.00,49000,915036,0.0,0.0,15.0,1.57
59,Asia,Cyprus,9251.00,49000,915036,0.0,0.0,15.0,1.57
...,...,...,...,...,...,...,...,...,...
249,North America,United States Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Oceania,Disputed Territory,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Asia,Iraq-Saudi Arabia Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Asia,United Nations Neutral Zone,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Asia,Spratly Islands,5,NaN,NaN,NaN,NaN,NaN,NaN