# Importing Libraries

In [9]:
import pandas as pd
import numpy as np

# Uploading Data

In [10]:
files = ['AIRPORTS',
'AREA',
'BUDGET',
'continent',
'CURACCT',
'DEBTFOREIGNERS',
'EDUCATIONSPEND',
'electricconsupmtion',
'emissions',
'EXPORTS',
'fossilelectricity',
'GDP',
'GDPGROWTH',
'GDPPERCAP',
'hydroelectricity',
'IMPORTS',
'INDUSTPRODGR',
'internetusers',
'LIFEXP',
'MARMERCHANT',
'MIGRATION',
'MILIEXPENDITURE',
'naturalgasconsumption',
'nuclearelectricity',
'otherrenewableelectricity',
'petroleumconsumption',
'POPGROWTH',
'POPULATION',
'PUBLICDEBT',
'RAILWAYS',
'ROADWAYS',
'UNEMPLOYMENT',
'WATERWAYS',
'WORKFORCE']

In [13]:
pd_dict = {}
for file in files:
    pd_dict[file] = pd.read_csv('{}.csv'.format(file))

In [15]:
pd_dict['AIRPORTS']

     Unnamed: 0           COUNTRY AIRPORTS  YEAR
0             1     United States   13,513  2013
1             2            Brazil    4,093  2013
2             3            Mexico    1,714  2013
3             4            Canada    1,467  2013
4             5            Russia    1,218  2013
..          ...               ...      ...   ...
233         234  Saint Barthelemy        1  2013
234         235      Saint Martin        1  2013
235         236      Sint Maarten        1  2013
236         237            Tuvalu        1  2013
237         238       Wake Island        1  2018

[238 rows x 4 columns]

In [17]:
pd_dict['continent']

    continent_name                                  country_name
0             Asia              Afghanistan, Islamic Republic of
1           Europe                          Albania, Republic of
2       Antarctica  Antarctica (the territory South of 60 deg S)
3           Africa      Algeria, People's Democratic Republic of
4          Oceania                                American Samoa
..             ...                                           ...
257         Africa                           Zambia, Republic of
258        Oceania                            Disputed Territory
259           Asia                Iraq-Saudi Arabia Neutral Zone
260           Asia                   United Nations Neutral Zone
261           Asia                               Spratly Islands

[262 rows x 2 columns]

In [22]:
for i, row in base_df.iterrows():
    row['country_name'] = row['country_name'].split(",")
    row ['country_name'] = row['country_name'][0]
base_df = pd_dict['continent']
area_df = pd_dict['AREA']

NameError: name 'base_df' is not defined

In [20]:
base_df.rename(columns = {'country_name':'Country'}, inplace = True)
base_df.merge(area_df, on = 'Country', how = 'left')

NameError: name 'base_df' is not defined